.nav-cover {
    /* width: 184px; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0px 15px; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.navigation {
    width: 100%;
}
.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.menu > a {
    color: black;
    font-size: 18px;
    padding: 20px 15px;
}
.user {
    width: 87%;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: #3B8AFF;

}
.user-name {
    padding: 0px 20px;
}
.user >img {
    border-radius: 50%;
    display: inline-block;
}
.user > p {
    color: white;
}
.active__btn {
    color: #3B8AFF !important;
    border-left: 20px solid #3B8AFF;
}